.appshell{
  &__header{
    align-items: center;
    background-color: #8B78E6;
    color: white;
    display: flex;
    font-size: 1.5rem;
    padding: 5px;
  }

  &__title{
    margin-left: 5px;
  }

}
